* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: relative;

    
}

.content_container {
    width: 1000px;
    height: 570px;
    padding: 5px;
    margin-top: 0px;
    border: 3px solid black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-family: 'Cooper Black';
}

.first_content_container {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
}
.check_paid_address_container {
    flex: 2.5;
}
.check_paid_address_content p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 22px;
}

.paid_address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    
}
.paid_address input {
    width: 300px;
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    padding-left: 5px;
}
.number_date {
    flex: 1;
}

.number_date #printCountInput {
    color: red;
    padding-left: 3px;
    font-size: 15px;
    border: none;
}



.number_date input {
    border: none;
    font-size: 17px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-bottom: 2px solid black;
}

.second_content_container {
    width: 100%;
    height: auto;
    border: 2px solid black;
    margin-top: 30px;
    position: relative;

}

.particulars_amount_container {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}

.particulars_amount_header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.particulars {
    flex: 3;
    border-right: 2px solid black;
}
.amount {
    flex: 1;
}

.text_area_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text_area_container .input_area {
    border: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}




.total_amount {
    border-top: 2px solid black;
    display: flex;
    
}

.total_amount_header {
    flex: 3;
    text-align: right;
    padding-right: 30px;
}
.total_input input{
    flex: 1;
    width: 100%;
    border: none;
    font-size: 17px;
    padding-left: 5px;
    letter-spacing: 1px;
    border-top: 2px solid black;
    text-align: center;
}

.third_content_container {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.pre_che_app_rec_container {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.pre_che_app_container p {
    margin-bottom: 10px;
}

.input input {
    border: none;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    width: 220px;
    font-size: 17px;
    padding-left: 5px;
    margin-top: -10px;
    letter-spacing: 1px;
    text-align: center;
}

.pre_che_app_inputs_container {
    display: flex;
    flex: 3;
    gap: 10px;
}

.received_by_input_container {
    display: flex;
    flex: 2;
    margin-top: 50px;
}

.button {
    position: absolute;
    top: 84%;
    left: 45%;
}

.button button {
    background-color: #65B741;
    color: #fff;
    padding: 15px 30px ;
    border: none;
    border-radius: 3px; 
    cursor: pointer;
}


.selections {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 20px;
    z-index: 2;
}
.selections label {
   font-weight: bold;
   font-size: 20px;
}


